<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
</head>
<body>
    <header>
        <nav>
                <ul>
                    {% if user.is_authenticated %}
                    <li><a href="{% url "show_my_tasks" %}">My tasks</a></li>
                    <li><a href="{% url "list_projects" %}">My projects</a></li>
                    <li><a href="{% url "logout" %}">Logout</a></li>
                    {% else %}
                    <li><a href="{% url "login" %}">LogIn</a></li>
                    <li><a href="{% url "signup" %}">Signup</a></li>
                    {% endif %}
                </ul>
            </nav>
    </header>
<main>
    <div>
        <h1>My Tasks</h1>
        {% if view_task.all|length != 0%}
        <table>
            <tr>
                <th>Name</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
            </tr>
            <tbody>
            {% for item in view_task %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.start_date }}</td>
                    <td>{{ item.due_date }}</td>
                    <td>{{ item.is_compelted|yesno }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% if view_task.all|length == 0 %}
        <p>You have no tasks</p>
        {% endif %}
    </div>
</main>
</body>
</html>
