{% extends "base.html" %}
<title>{% block title %} Tasks {% endblock %}</title>
<body>
<main>
    {% block content %}
    <div class="my-tasks-list">
        <h1>My Tasks</h1>
        <form method="GET">
            <input type="text" name="search-area">
            <input type="submit" value = "Search">
        </form>
        {% if view_task.all|length != 0%}
        <table>
            <tr>
                <th>Name</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
            </tr>
            <tbody>
            {% for item in view_task %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.start_date }}</td>
                    <td>{{ item.due_date }}</td>
                    <td>{{ item.is_compelted|yesno }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% if view_task.all|length == 0 %}
        <p>You have no tasks</p>
        {% endif %}
    </div>


    {% autoescape off %}
    <div class = "gantt">
    {{ plot_div }}
    </div>
    {% endautoescape %}


    {% endblock %}
</main>
</body>
