{% extends "base.html" %}
    <title>{% block title %}Projects{% endblock %}</title>
{% block content%}
<main>
    <div class="project-detail">
        <h1>{{ project.name }} </h1>
        <p>{{ project.description }}</p>
        <h2>Tasks</h2>
        <p><a href="{% url "create_task"  %}">Create a new task</a></p>
        <p class = "speech-bubble">
            Simply click on the name of the task to edit
             or move between projects!
        </p>
        {% if project.tasks.all|length != 0%}
        <table>
            <tr>
                <th>Name</th>
                <th>Assignee</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
            </tr>
            <tbody>
            {% for item in project.tasks.all%}
                <tr>
                    <td><a href="{% url "edit_tasks" item.id %}">{{ item.name }}</a></td>
                    <td>{{ item.assignee }} </td>
                    <td>{{ item.start_date }}</td>
                    <td>{{ item.due_date }}</td>
                    <td>{{ item.is_compelted|yesno }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
        {% if project.tasks.all|length == 0 %}
        <p>This project has no tasks</p>
        {% endif %}
    </div>
</main>
{% endblock %}
